CALDAV_CALENDAR_URL="https://caldav.fastmail.com/dav/calendars/user/janejeon@fastmail.com/826b9ee1-d765-4bc3-89f8-bafa94161c44/"
CALDAV_USERNAME="op://Private/Fastmail CalDAV App Password/username"
CALDAV_PASSWORD="op://Private/Fastmail CalDAV App Password/credential"
TELEGRAM_BOT_TOKEN="op://Self Hosting/Telegram Alerts Bot/credential"
TELEGRAM_CHAT_ID="op://Self Hosting/Telegram Alerts Bot/Chat ID"
