B2_APPLICATION_KEY_ID="op://Self Hosting/Railway Backblaze B2 API Key/keyID"
B2_APPLICATION_KEY="op://Self Hosting/Railway Backblaze B2 API Key/applicationKey"

RAILWAY_TOKEN="op://Self Hosting Automation/Railway CLI Token - Personal Project/credential"
