GITHUB_TOKEN="op://Development/GitHub Personal Access Token for gh CLI - Classic/credential"

B2_APPLICATION_KEY_ID="op://Self Hosting Automation/Self-hosted backup Backblaze B2 Application Key/keyID"
B2_APPLICATION_KEY="op://Self Hosting Automation/Self-hosted backup Backblaze B2 Application Key/credential"
