[submodule "dependencies/wait-for"]
	path = dependencies/wait-for
	url = https://github.com/eficode/wait-for.git
[submodule "dependencies/journal-theme"]
	path = dependencies/journal-theme
	url = https://github.com/TryGhost/Journal.git
[submodule "dependencies/london-theme"]
	path = dependencies/london-theme
	url = https://github.com/TryGhost/London.git
