TELEGRAM_CHAT_ID="op://Self Hosting/Telegram Alerts Bot/Chat ID"
TELEGRAM_BOT_TOKEN="op://Self Hosting/Telegram Alerts Bot/credential"
UPTIME_KUMA_PUSH_URL="op://Self Hosting/Xfinity Outage Service - Railway/Uptime Kuma Push Monitor URL"
HOME_ADDRESS="op://Self Hosting/Xfinity Outage Service - Railway/Home Address"
