# static configuration
# see: https://doc.traefik.io/traefik/reference/static-configuration/file/
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO
  format: common

accessLog:
  format: common

api:
  dashboard: true
  insecure: true

ping: {}

entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true

  https:
    address: :443
    http:
      middlewares:
        - gzip@file
        - no-www@file
        - whitelist-cloudflare@file
    # Trust headers forwarded from Cloudflare to get accurate X-Forwarded-* information:
    # https://doc.traefik.io/traefik/routing/entrypoints/#forwarded-headers
    forwardedHeaders:
      trustedIPs: {{ cloudflare_ips | tojson }}

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ env.SMTP_SENDER }}
      storage: /mnt/traefik/acme.json
      # for testing, try https://acme-staging-v02.api.letsencrypt.org/directory
      caServer: {{ env.ACME_CASERVER | default('https://acme-v02.api.letsencrypt.org/directory') }}
      dnsChallenge:
        provider: cloudflare

providers:
  docker:
    watch: true
    exposedByDefault: false
    network: public
  file:
    watch: true
    filename: /etc/traefik/dynamic.yml
