http:
  middlewares:
    gzip:
      compress: {}
    no-www: # stripping https://www.blah -> https://blah
      redirectRegex:
        regex: ^https://(?:www\.)?(.+)
        replacement: https://${1}
        permanent: true
    # Allow connections only from Cloudflare, so people can't just bypass it.
    # https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/#ipwhitelist
    whitelist-cloudflare:
      ipAllowList:
        sourceRange: {{ cloudflare_ips | tojson }}
    # A rate limiter with a shorter window to prevent extreme bursts (e.g. spamming)
    ratelimit-burst:
      rateLimit:
        average: 5
        burst: 5
        period: 1
        sourceCriterion: &ipStrategy
          ipStrategy:
            depth: 1 # since we can always trust XFF (non-CF traffic is blocked), we can trust the rightmost entry in the XFF
    # A rate limiter with a longer window to protect against resource abuse
    ratelimit-window:
      rateLimit:
        average: 60
        burst: 60
        period: 1m
        sourceCriterion: *ipStrategy
    sso-proxy:
      forwardAuth:
        address: http://authelia:9091/api/verify?rd=https://auth.{{ env.BASE_HOST }}
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email
