# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html
# https://dev.mysql.com/doc/refman/8.0/en/innodb-parameters.html

[mysqld]
performance_schema = off # maybe I can turn this back on once I have a clearer breakdown of the memory usage across the stack;
# however, as is, turning off performance schema reduced my memory from 450M to 180M, so...
innodb_buffer_pool_size = 20M
max_connections = 20

innodb_redo_log_capacity = 	10485760 # limit size to 10MB
