B2_ACCOUNT_ID="op://Self Hosting/Railway Backblaze B2 API Key/keyID"
B2_ACCOUNT_KEY="op://Self Hosting/Railway Backblaze B2 API Key/applicationKey"
RESTIC_REPOSITORY="op://Self Hosting/Railway MySQL Backup Service/restic repository"
RESTIC_PASSWORD="op://Self Hosting/Railway MySQL Backup Service/restic password"
HEARTBEAT_URL="op://Self Hosting/Railway MySQL Backup Service/heartbeat url"
MYSQL_HOST="mysql.railway.internal"
