KC_DB_USERNAME="op://Self Hosting/Railway Keycloak/db username"
KC_DB_PASSWORD="op://Self Hosting/Railway Keycloak/db password"
KC_ADMIN_CLIENT_ID="op://Self Hosting/Railway Keycloak/admin client id"
KC_ADMIN_CLIENT_SECRET="op://Self Hosting/Railway Keycloak/admin client secret"
KC_BOOTSTRAP_ADMIN_CLIENT_ID="op://Self Hosting/Railway Keycloak/bootstrap client id"
KC_BOOTSTRAP_ADMIN_CLIENT_SECRET="op://Self Hosting/Railway Keycloak/bootstrap client secret"
MCP_PERMANENT_USERNAME=Jane
MCP_PERMANENT_PASSWORD="op://Self Hosting/MCP Gateway Auth/password"
MCP_PERMANENT_FIRST_NAME=Jane
MCP_PERMANENT_LAST_NAME=Jeon
