name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: true # need to checkout submodules for scanning dependencies
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install Dependencies
        run: npm ci --prefer-offline
      - name: Lint
        run: npm run lint
      - name: Scan Ghost Themes for Compatibility
        run: npm run scan
