name: Python CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          prune-cache: false
      - name: Setup Python
        run: uv python install
      - name: Install Python dependencies
        run: uv sync --all-extras --dev
      - name: Lint
        run: make lint-py
      - name: Test
        run: make test
